In [2]:
import pandas as pd
import numpy as np
import ast

movies = pd.read_csv('tmdb_5000_movies.csv')
credits = pd.read_csv('tmdb_5000_credits.csv')

In [3]:
movies.shape,credits.shape

((4803, 20), (4803, 4))

In [4]:
movies=movies.merge(credits,on='title',how='inner')

In [5]:
movies= movies[['movie_id','title','keywords','overview','genres','cast','crew']]

In [6]:
movies.head(2)

,movie_id,title,keywords,overview,genres,cast,crew
0,19995,Avatar,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","Captain Barbossa, long believed to be dead, ha...","[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."

In [7]:
movies['genres'][0]

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [8]:
def convert(object):
    L = []
    for i in ast.literal_eval(object):
        L.append(i['name'])
    return L

In [9]:
movies['genres'].apply(convert)

0       [Action, Adventure, Fantasy, Science Fiction]
1                        [Adventure, Fantasy, Action]
2                          [Action, Adventure, Crime]
3                    [Action, Crime, Drama, Thriller]
4                [Action, Adventure, Science Fiction]
                            ...
4804                        [Action, Crime, Thriller]
4805                                [Comedy, Romance]
4806               [Comedy, Drama, Romance, TV Movie]
4807                                               []
4808                                    [Documentary]
Name: genres, Length: 4809, dtype: object

In [10]:
movies['genres']=movies['genres'].apply(convert)

In [11]:
movies.head(2)

,movie_id,title,keywords,overview,genres,cast,crew
0,19995,Avatar,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."

In [12]:
movies['keywords'].apply(convert)

0       [culture clash, future, space war, space colon...
1       [ocean, drug abuse, exotic island, east india ...
2       [spy, based on novel, secret agent, sequel, mi...
3       [dc comics, crime fighter, terrorist, secret i...
4       [based on novel, mars, medallion, space travel...
                              ...
4804    [united states–mexico barrier, legs, arms, pap...
4805                                                   []
4806    [date, love at first sight, narration, investi...
4807                                                   []
4808            [obsession, camcorder, crush, dream girl]
Name: keywords, Length: 4809, dtype: object

In [13]:
movies['keywords']=movies['keywords'].apply(convert)

In [14]:
movies.head(2)

,movie_id,title,keywords,overview,genres,cast,crew
0,19995,Avatar,"[culture clash, future, space war, space colon...","In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[ocean, drug abuse, exotic island, east india ...","Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."

In [15]:
def convert(object):
    L = []
    counter = 0
    for i in ast.literal_eval(object):
        L.append(i['name'])
        counter+=1
        if counter ==3:
            break
    return L

In [16]:
movies['cast'].apply(convert)

0        [Sam Worthington, Zoe Saldana, Sigourney Weaver]
1           [Johnny Depp, Orlando Bloom, Keira Knightley]
2            [Daniel Craig, Christoph Waltz, Léa Seydoux]
3            [Christian Bale, Michael Caine, Gary Oldman]
4          [Taylor Kitsch, Lynn Collins, Samantha Morton]
                              ...
4804    [Carlos Gallardo, Jaime de Hoyos, Peter Marqua...
4805         [Edward Burns, Kerry Bishé, Marsha Dietlein]
4806           [Eric Mabius, Kristin Booth, Crystal Lowe]
4807            [Daniel Henney, Eliza Coupe, Bill Paxton]
4808    [Drew Barrymore, Brian Herzlinger, Corey Feldman]
Name: cast, Length: 4809, dtype: object

In [17]:
movies['cast']=movies['cast'].apply(convert)

In [18]:
movies.head(2)

,movie_id,title,keywords,overview,genres,cast,crew
0,19995,Avatar,"[culture clash, future, space war, space colon...","In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[Sam Worthington, Zoe Saldana, Sigourney Weaver]","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[ocean, drug abuse, exotic island, east india ...","Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[Johnny Depp, Orlando Bloom, Keira Knightley]","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."

In [19]:
def convert_crew(object):
    L = []
    for i in ast.literal_eval(object):
        if i['job'] == 'Director':
            L.append(i['name'])
            break
    return L

In [24]:
movies['crew'].apply(convert_crew)

0           [James Cameron]
1          [Gore Verbinski]
2              [Sam Mendes]
3       [Christopher Nolan]
4          [Andrew Stanton]
               ...
4804     [Robert Rodriguez]
4805         [Edward Burns]
4806          [Scott Smith]
4807          [Daniel Hsia]
4808     [Brian Herzlinger]
Name: crew, Length: 4809, dtype: object

In [25]:
movies['crew']=movies['crew'].apply(convert_crew)

In [26]:
movies.head(2)

,movie_id,title,keywords,overview,genres,cast,crew
0,19995,Avatar,"[culture clash, future, space war, space colon...","In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron]
1,285,Pirates of the Caribbean: At World's End,"[ocean, drug abuse, exotic island, east india ...","Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[Johnny Depp, Orlando Bloom, Keira Knightley]",[Gore Verbinski]

In [20]:
movies['overview'][0]

'In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization.'

In [2]:
movies['overview']=movies['overview'].apply(lambda x: x.split())

NameError: name 'movies' is not defined

In [24]:
movies.head(2)

,movie_id,title,keywords,overview,genres,cast,crew
0,19995,Avatar,"[culture clash, future, space war, space colon...","In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[Sam Worthington, Zoe Saldana, Sigourney Weaver]","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[ocean, drug abuse, exotic island, east india ...","Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[Johnny Depp, Orlando Bloom, Keira Knightley]","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."

In [25]:

movies['genres']=movies['genres'].apply(lambda x: [i.replace('','') for i in x])
movies['keywords']=movies['keywords'].apply(lambda x: [i.replace('','') for i in x])
movies['crew']=movies['crew'].apply(lambda x: [i.replace('','') for i in x])
movies['cast']=movies['cast'].apply(lambda x: [i.replace('','') for i in x])

In [26]:
movies.head(2)

,movie_id,title,keywords,overview,genres,cast,crew
0,19995,Avatar,"[culture clash, future, space war, space colon...","In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[Sam Worthington, Zoe Saldana, Sigourney Weaver]","[[, {, "", c, r, e, d, i, t, _, i, d, "", :, , ..."
1,285,Pirates of the Caribbean: At World's End,"[ocean, drug abuse, exotic island, east india ...","Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[Johnny Depp, Orlando Bloom, Keira Knightley]","[[, {, "", c, r, e, d, i, t, _, i, d, "", :, , ..."

In [3]:
import pandas as pd

# Assuming 'movies' is a DataFrame with columns 'overview', 'genres', 'keywords', 'cast', and 'crew'

# Convert all columns to strings and replace missing values with empty strings
movies['overview'] = movies['overview'].astype(str)
movies['genres'] = movies['genres'].astype(str)
movies['keywords'] = movies['keywords'].astype(str)
movies['cast'] = movies['cast'].astype(str)
movies['crew'] = movies['crew'].astype(str)

# Concatenate the columns with spaces as separators
movies['tags'] = movies['overview'] + ' ' + movies['genres'] + ' ' + movies['keywords'] + ' ' + movies['cast'] + ' ' + movies['crew']

NameError: name 'movies' is not defined

In [35]:
movies.head(2)

,movie_id,title,keywords,overview,genres,cast,crew,tags
0,19995,Avatar,"['culture clash', 'future', 'space war', 'spac...","In the 22nd century, a paraplegic Marine is di...","['Action', 'Adventure', 'Fantasy', 'Science Fi...","['Sam Worthington', 'Zoe Saldana', 'Sigourney ...",['James Cameron'],"In the 22nd century, a paraplegic Marine is di..."
1,285,Pirates of the Caribbean: At World's End,"['ocean', 'drug abuse', 'exotic island', 'east...","Captain Barbossa, long believed to be dead, ha...","['Adventure', 'Fantasy', 'Action']","['Johnny Depp', 'Orlando Bloom', 'Keira Knight...",['Gore Verbinski'],"Captain Barbossa, long believed to be dead, ha..."

In [35]:
new_df = movies[['movie_id','title','tags']]

In [36]:
new_df.head(5)

,movie_id,title,tags
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...
4,49529,John Carter,"John Carter is a war-weary, former military ca..."

In [37]:
new_df.head()

,movie_id,title,tags
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...
4,49529,John Carter,"John Carter is a war-weary, former military ca..."

In [38]:

new_df['tags'].apply(lambda x: x.lower())

0       in the 22nd century, a paraplegic marine is di...
1       captain barbossa, long believed to be dead, ha...
2       a cryptic message from bond’s past sends him o...
3       following the death of district attorney harve...
4       john carter is a war-weary, former military ca...
                              ...
4804    el mariachi just wants to play his guitar and ...
4805    a newlywed couple's honeymoon is upended by th...
4806    "signed, sealed, delivered" introduces a dedic...
4807    when ambitious new york attorney sam is sent t...
4808    ever since the second grade when he first saw ...
Name: tags, Length: 4809, dtype: object

In [39]:
import pandas as pd

# Assuming 'new_df' is your DataFrame
new_df.loc[:, 'tags'] = new_df['tags'].apply(lambda x: str(x).lower())

In [40]:
import nltk
from nltk.stem import PorterStemmer

ps = PorterStemmer()

In [41]:
def stem(text):
    y = []
    for i in text.split():
        y.append(ps.stem(i))
    return ' '.join(y)

In [42]:
stem('action') , stem('actionable'), stem('actioning') , stem('historical') , stem('historically')

('action', 'action', 'action', 'histor', 'histor')

In [43]:
new_df['tags'][0]

"in the 22nd century, a paraplegic marine is dispatched to the moon pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization. ['action', 'adventure', 'fantasy', 'science fiction'] ['culture clash', 'future', 'space war', 'space colony', 'society', 'space travel', 'futuristic', 'romance', 'space', 'alien', 'tribe', 'alien planet', 'cgi', 'marine', 'soldier', 'battle', 'love affair', 'anti war', 'power relations', 'mind and soul', '3d'] ['sam worthington', 'zoe saldana', 'sigourney weaver'] ['james cameron']"

In [44]:
new_df['tags'].apply(stem)

0       in the 22nd century, a parapleg marin is dispa...
1       captain barbossa, long believ to be dead, ha c...
2       a cryptic messag from bond’ past send him on a...
3       follow the death of district attorney harvey d...
4       john carter is a war-weary, former militari ca...
                              ...
4804    el mariachi just want to play hi guitar and ca...
4805    a newlyw couple' honeymoon is upend by the arr...
4806    "signed, sealed, delivered" introduc a dedic q...
4807    when ambiti new york attorney sam is sent to s...
4808    ever sinc the second grade when he first saw h...
Name: tags, Length: 4809, dtype: object

In [1]:
import pandas as pd

# Assuming 'new_df' is your DataFrame
def stem(text):
    # Your stemming logic here
    return text

new_df['tags'] = new_df['tags'].apply(stem)

# Use .loc to set values explicitly on the original DataFrame
new_df.loc[:, 'tags'] = new_df['tags']

NameError: name 'new_df' is not defined

In [57]:

from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000 , stop_words='english')

In [58]:
cv.fit_transform(new_df['tags']).toarray()

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [60]:
vectors = cv.fit_transform(new_df['tags']).toarray()

In [61]:
vectors.shape

(4809, 5000)

In [62]:
from sklearn.metrics.pairwise import cosine_similarity
cosine_similarity(vectors)

array([[1.        , 0.06839856, 0.04916051, ..., 0.03121953, 0.05309942,
        0.        ],
       [0.06839856, 1.        , 0.04259177, ..., 0.04057204, 0.        ,
        0.        ],
       [0.04916051, 0.04259177, 1.        , ..., 0.01944039, 0.08817334,
        0.        ],
       ...,
       [0.03121953, 0.04057204, 0.01944039, ..., 1.        , 0.06299408,
        0.03276488],
       [0.05309942, 0.        , 0.08817334, ..., 0.06299408, 1.        ,
        0.03715188],
       [0.        , 0.        , 0.        , ..., 0.03276488, 0.03715188,
        1.        ]])

In [63]:
similarity = cosine_similarity(vectors)

In [28]:
def recommend(movie):
    index = np.where(new_df['title'] == movie)[0][0]
    similar_movies = sorted(enumerate(similarity[index]) , key=lambda x:x[1]   , reverse=True)[1:6]
    
    for i in similar_movies:
        print (new_df['title'][i[0]])

In [65]:
recommend('Avatar')

Aliens
Moonraker
Alien
Alien³
Silent Running

In [71]:
recommend('Aliens')

Alien
Avatar
Alien³
Mission to Mars
Moonraker

In [72]:
recommend('Moonraker')

Silent Running
Gravity
Spaceballs
You Only Live Twice
Lost in Space

In [29]:
recommend('Gravity')

NameError: name 'new_df' is not defined